div.tileTable{
    background-image: url('../images/Game/Gamemasu.png');
    width:1320px;
    height:510px;
    margin-left:23px;
}
div.dummytileTable{
    width:1320px;
    height:510px;
    margin-left:23px;
}

table#tileTable{
    border-spacing:0;
    
}

table#tileTable td{
    padding:0;
}

div.playerGameSocre{
    width:632px;
    height:50px;
}

div.topContext{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 23px;
}

div.topContext div{
    font-size: 30px; 
}

div.time{
    font-size:40px;
}

div.bottomContext{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 23px;
}

div.bottomContext div{
    font-size: 30px; 
}

#player0{
    color: cyan;   
    text-align: left;
}
#player1{
    color:rgb(224, 94, 94);
    text-align: right;
}
#player2{
    color: rgb(56, 184, 5);  
    text-align: left; 
}
#player3{
    color: rgb(186, 55, 226);
    text-align: right;
}
