div.tileTable{
    background-image: url('../images/Game/Gamemasu.png');
    width:1320px;
    height:510px;
    margin-left:23px;
}
div.dummytileTable{
    width:1320px;
    height:510px;
    margin-left:23px;
}

table#tileTable{
    border-spacing:0;
    
}

table#tileTable td{
    padding:0;
}

div.playerGameSocre{
    width:632px;
    height:50px;
}

div.topContext{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 23px;
}

div.topContext div{
    font-size: 30px; 
}

div.ReadyState{
    position: absolute;
    width:1366px;
    top:0;
    /* padding:  10px;             余白指定 */
    display: flex;              /* フレックスボックスにする */
    justify-content:center;
}

#ready0 {
    border:solid 4px #e8110f;
    width: 52px;
    height:42px;
}
#ready1 {
    border:solid 4px #10b6b1;
    width: 52px;
    height:42px;
}
#ready2 {
    border:solid 4px #63b931;
    width: 52px;
    height:42px;
}
#ready3 {
    border:solid 4px #b737e2;
    width: 52px;
    height:42px;
}

div.time{
    font-size:40px;
}

div.bottomContext{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 23px;
}

div.bottomContext div{
    font-size: 30px; 
}

#player0{
    color: #e8110f;   
    text-align: left;
}
#player1{
    color: #10b6b1;
    text-align: right;
}
#player2{
    color: #63b931;  
    text-align: left; 
}
#player3{
    color: #b737e2;
    text-align: right;
}
