div.Home{
    background-image: url("../images/Home/homehaikei2.jpg");
    background-position:center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

div#homelogo{
   margin-top: 0px;
   padding-top: 100px;
}